.botao{
    background-color: #627Bf7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: #FFF;
    margin: 32px 0;
    transition: 0.5s;
}
.botao:hover{
    color: #95FFD4;
    background-color: #6e83eb;
}